---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import LangSwitcher from '../components/LangSwitcher.astro';
import DiscussOnBluesky from '../components/DiscussOnBluesky.astro';
import UpdatedDate from '../components/UpdatedDate.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { getCurrentLang, LOCALE } from '../lib/lang';

import "./BlogPost.css";

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, langLinks, bluesky } = Astro.props;
const locale = LOCALE[getCurrentLang(Astro.url)]
---

<html lang={locale}>
	<head>
		<BaseHead title={title} description={description} image={heroImage} />
	</head>
	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
						<div class="date">
							<FormattedDate date={pubDate} locale={locale} />
							{updatedDate && <UpdatedDate date={updatedDate} />}
						</div>
						{langLinks && (
							<LangSwitcher prefix='posts' langLinks={langLinks} />
						)}
						<hr />
					</div>
					<slot />
					<hr />
					{bluesky && <DiscussOnBluesky href={bluesky} />}
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
